.button-vertical {
  flex: 1 0 0;
}

.button-horizontal {
  flex: 0 0 0;
}

.container-out {
  display: flex;
  width: 35%;
  height: auto;
  align-items: center;
  gap: 0.5rem;

  position: absolute;
  z-index: 1;
  bottom: 0;
  margin-bottom: 2.5rem;
}

.container-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  flex: 1 0 0;
  align-self: stretch;
}

.container-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
